body {
    font-family: IRANSansWeb;
    color: #3d3d3d;
}
.sliderds {
    z-index: 1;
}
.mmh1 {
    position: fixed;
    left: 0;
    top: 40px;
    right: 0;
    background: white;
    z-index: 993;
}

.mhead {
    position: fixed;
    left: 0;
    right: 0;
    background: white;
}
.mhead ul {
    width: 100%;
    margin: 0;
    padding: 0;
}
.mhead ul li {
    list-style: none;
    margin: 0;
    display: inline-block;
}
.mhead a {
    color: #444444;
    padding: 0 5px 10px 8px;
    text-decoration: none !important;
    list-style: none;
    display: block;
    width: 100%;
    height: 100%;
}
.mmhover:hover {
    background: #7c2191;
    border-radius: 0 0 4px 4px;
    height: 100%;
    color: white;

}
.mhead i:hover {
    color: white;
}
.mhead i a {
    color: #ffffff;
    padding: 0 5px 10px 8px;
    text-decoration: none !important;
    list-style: none;
}
.mhead i {
    font-size: 15px;
    color: #7c2191;
}
@media screen and (max-width:992px) {
    .hidden{
        display: none !important;
        visibility: hidden !important;    }
}
@media screen and (max-width:992px) {
    .bnm{
        display: none;
    }
}
@media screen and (min-width:992px) {
    .bnv{
        display: none;
    }
}

.sell {
    background-color: #2e003f;
    background-image: url(../pic/tophead.jpg) ;
    background-size: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    height: 38px;
}
.fvg {
    justify-content: center;
}
